<!-- This is a typical Zoom Template -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Video Call App</title>
    <meta name="description" content="Demo video chat application for the Introduction to Realtime Web Apps Workshop for SUTD's Independent Activities Period (IAP) 2021.">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/snackbar.css">
</head>

<body>

    <div class="copyLinkBar">
        <button id="copy-link-button" onclick="copyLink()">Copy room link</button>
    </div>

    <div class="main">
        <div class="mainLeft">
            <div class="mainVideos">
                <div id="videoGrid"></div>
            </div>
            <div class="mainControls">
                <div class="mainControlsBlock">
                    <div onclick="muteUnmute()" class="mainControlsButton mainMuteButton">
                        <i class="fas fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="playStop()" class="mainControlsButton mainVideoButton">
                        <i class="fas fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>

                <div class="mainControlsBlock">
                    <div class="mainControlsButtonEndMeeting">
                        <span class="leaveMeeting">End</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Snackbar that will pop up when copy link button is clicked on-->
        <div id="snackbar">Room link copied</div>
    </div>
</body>


<script src="/socket.io/socket.io.js"></script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

<script src="js/main.js"></script>
<script src="js/utils.js"></script>

<script>
    const ROOM_ID = '<%= roomId %>'
</script>
<script>
    alert("Copy & paste this link in another browser tab to try yourself or \nsend your friends this link to invite others to this same chat room! 😊")
</script>

</html>